* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}
body{
   background-color:#ffffff ;
}
.container {
   width: 95%;
   height: 900px;
   /* background-color: rgb(255, 242, 0); */
   margin: 0 auto;
   padding-top: 50px;
   padding-left: 20px;
   padding-right: 20px;
}

.top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.t_left {
   display: flex;
   align-items: center;
}

.t_left h1 {
   font-size: 48px;
}

.dob {
   height: 46px;
   width: 189px;
   left: 589px;
   top: 86px;
   background: #007FFF;
   border-radius: 10px;
   margin-left: 30px;
   border: 0px;
   font-weight: bold;
   transition: 0.5s;
}

.dob:hover {
   background: #0099ff;


}

.poisk {
   width: 189px;
   height: 46px;
   left: 1225px;
   top: 86px;
   background: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   font-weight: bold;
   transition: 0.5s;
   color: #979797;
}

.poisk:hover {
   background: #ebebeb;

}

.pokaz {
   font-size: 24px;
   font-weight: bold;
}

.tab {
   font-size: 24px;
   font-weight: bold;
   margin-left: 15px;
   text-decoration: none;
 color: gray;
}

.plitka {
   font-size: 24px;
   font-weight: bold;
   text-decoration: none;
   margin-left: 15px;
   color: royalblue;
}

a {

   text-decoration: none;
}

.top_2 {
   display: flex;
   margin-top: 20px;
}


.top_3 {
   width: 100%;
   /* background-color: #007FFF; */
   margin-top: 30px;
}

.top3 {
   display: flex;
   flex-wrap: wrap;
   padding-top: 40px;
}

.liniya {
   height: 250px;
   width: 430px;
   border-radius: 20px;
   background-color: rgb(242, 242, 242);
   margin-right: 30px;
   margin-bottom: 30px;
   position: relative;
   box-shadow:
   inset 0 -3em 3em rgba(0,0,0,0.1),
         0 0  0 2px rgb(255,255,255),
         0.3em 0.3em 1em rgba(0,0,0,0.3);

}

.l1 {
   font-size: 27px;
   font-weight: bold;
   text-align: center;
   margin-top: 15px;
}

.l2 {
   color: #A5A5B4;
   font-size: 18px;
   font-weight: 500;
   margin: 15px 20px;
}

.l3 {
   font-size: 21px;
   font-weight: 700;
   margin-left: 24px;
}

.l4 {
   font-size: 21px;
   font-weight: 700;
   position: absolute;
   top: 159px;
   left: 120px;
}

.l5 {
 font-size: 20px;
 font-weight: bold;
margin: 20px;
}



.modal_bg {
   display: none;
   opacity: 0;
   width: 100%;
   height: 130%;
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: rgba(0, 0, 0, .5);
   /* backdrop-filter: blur(7px); */
}

.modal {
   display: none;
   opacity: 0;
   width: 632px;
   height: 577px;
   background-color: white;
   padding: 56px 97px 56px 97px;
   border-radius: 8px;
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
}

.login_title {
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 59px;
   color: #000000;
   margin-bottom: 32px;
}

.main_input {
   width: 438px;
   height: 56px;
   background: #FFFFFF;
   border: 1px solid #000000;
   border-radius: 10px;
   padding: 19px 25px;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   margin-bottom: 8px;
}

.save {
   width: 438px;
   height: 56px;
   left: 645px;
   top: 735px;
   background: #0047FF;
   border-radius: 10px;
   color: #FFFFFF;
   border: none;
   text-align: center;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   margin: 8px 0;

}

.select {
   width: 438px;
   height: 56px;
   left: 645px;
   padding: 19px 25px;
   top: 672px;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   background: #FFFFFF;
   border: 1px solid #000000;
   border-radius: 10px;
   margin-bottom: 8px;
}

.option {
   width: 438px;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
}